[submodule "poco_app/libs/poco"]
	path = poco_app/libs/poco
	url = git@github.com:pocoproject/poco.git
[submodule "poco_app/libs/toml"]
	path = poco_app/libs/toml
	url = git@github.com:ToruNiina/toml11.git
[submodule "poco_app/libs/termcolor"]
	path = poco_app/libs/termcolor
	url = git@github.com:ikalnytskyi/termcolor.git
